body {
    position: absolute;
    background-color: rgb(253, 178, 178);
    height: 100%;
    width: 100%;
    transition: transform 1s ;

}

.card {
    position: absolute;
    top: 40%;
    left: 34%;
    height: 458px;
    width: 700px;
    margin: -150px;
    float: left;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(36, 0, 240, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.darkBG {
    background-color: rgb(196 0 65);}

.front,
.back {
    backface-visibility: hidden;
    background-color: rgb(255, 228, 228);
    height: 458px;
    width: 700px;
    top: 0%;
    position: absolute;
    text-align: center;
    border: 2px transparent solid;
    border-radius: 30px;
    box-shadow: 0px 0px 17px 4px rgb(194 13 30 / 57%);
    transition: 1s ease-in;
}


.back {
    background: linear-gradient(black, rgb(22 49 55));
    color: white;
    box-shadow: 0px 0px 17px 17px rgb(41 25 97 / 81%);
    transform: rotateY(180deg);
}


h1 {
    font-family: "Alex Brush", cursive;
    padding-top: 10px;
    font-size: 57px;
    color: rgb(209 46 122);
}

.p1_image {
    align-items: center;

}

#bear_1 {
    height: 132px;
    position: relative;
    right: 86px;
    top: -66px;
}

#bear_2 {
    height: 165px;
    position: relative;
    right: -59px;
    top: -47px;
}


#l1 {
    font-family: cursive;
    font-size: large;
    color: #ea2684;
    position: relative;
    top: -48px;
    font-size: 148%;
}


#l2 {
    font-family: cursive;
    color: #ea2684;
    font-size: 21px;
    font-style: oblique;
    position: relative;
    top: -27px;
}

#button1 {
    position: absolute;
    top: 94%;
    left: 30%;
    width: 283px;
    height: 56px;
    background: linear-gradient(26deg, rgb(225 17 17), #220808);
    border-radius: 100px;
    border-color: transparent;
    transition: 400ms;
}

.cake_button {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    display: flex;
    top: -25%;
    left: 21%;
}
 
 

        /*----------------------------------------------------------
        --------------------------------------------------------------
                               cake
         ------------------------------------------------------
         --------------------------------------------------------- */


.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
}

.plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow:
        0 2px 0 #aaa,
        0 4px 0 #aaa,
        0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake>* {
    position: absolute;
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #553c13;
    box-shadow:
        0 2px 0px #5e4217,
        0 4px 0px #513a12,
        0 6px 0px #4f3911,
        0 8px 0px #4d3711,
        0 10px 0px #4c3610,
        0 12px 0px #4a350f,
        0 14px 0px #48340f,
        0 16px 0px #46330e,
        0 18px 0px #45320e,
        0 20px 0px #43310d,
        0 22px 0px #42300d,
        0 24px 0px #402f0c,
        0 26px 0px #3f2e0c,
        0 28px 0px #3e2d0b,
        0 30px 0px #3c2c0b;
}

.layer-top {
    top: 0px;
}

.layer-middle {
    top: 33px;
}

.layer-bottom {
    top: 66px;
}

.icing {
    top: 2px;
    left: 5px;
    background-color: #f0e4d0;
    /* vanilla */
    width: 240px;
    height: 90px;
    border-radius: 50%;
}

.icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: #f5ead9;
    box-shadow: 0 0 4px #f9efe0;
    border-radius: 50%;
    z-index: 1;
}

.drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #f0e4d0;
}

.drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px;
}

.drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
}

.drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.candle {
    background-color: #7b020b;
    width: 16px;
    height: 50px;
    border-radius: 8px / 4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
}

.candle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: #9a0a14;
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow:
        0 0 10px rgba(255, 165, 0, 0.5),
        0 0 20px rgba(255, 165, 0, 0.5),
        0 0 60px rgba(255, 165, 0, 0.5),
        0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0% {
        transform: skewX(5deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.2),
            0 0 20px rgba(255, 165, 0, 0.2),
            0 0 60px rgba(255, 165, 0, 0.2),
            0 0 80px rgba(255, 165, 0, 0.2);
    }

    25% {
        transform: skewX(-5deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.5),
            0 0 20px rgba(255, 165, 0, 0.5),
            0 0 60px rgba(255, 165, 0, 0.5),
            0 0 80px rgba(255, 165, 0, 0.5);
    }

    50% {
        transform: skewX(0deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.3),
            0 0 20px rgba(255, 165, 0, 0.3),
            0 0 60px rgba(255, 165, 0, 0.3),
            0 0 80px rgba(255, 165, 0, 0.3);
    }

    75% {
        transform: skewX(-10deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.4),
            0 0 20px rgba(255, 165, 0, 0.4),
            0 0 60px rgba(255, 165, 0, 0.4),
            0 0 80px rgba(255, 165, 0, 0.4);
    }

    100% {
        transform: skewX(10deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.5),
            0 0 20px rgba(255, 165, 0, 0.5),
            0 0 60px rgba(255, 165, 0, 0.5),
            0 0 80px rgba(255, 165, 0, 0.5);
    }
}

#candle_1 {
    top: -10%;
}

#candle_2 {
    top: 4%;
    left: 73%;
}

#candle_3 {
    top: 4%;
    left: 25%;
}

.blow {
    top: 91%;
    font-size: 25px;
    color: cadetblue;
    position: absolute;
    left: 30%;
    height: 47px;
    width: 261px;
    border-radius: 6%;
    background-color: transparent;
    border: black;
}

.gyb{
    display: none;
}

.nybtn{
    color: #ff0000;
    font-size: 38px;
    font-weight: bold;
    font-family: "Alex Brush", cursive;
    top: 81%;
}
 

.flame_2 {
    position: absolute;
    background-color: hsla(39, 100%, 50%, 0.315);
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow:
        0 0 10px rgba(255, 166, 0, 0.24),
        0 0 20px rgba(255, 166, 0, 0.24),
        0 0 60px rgba(255, 166, 0, 0.24),
        0 0 80px rgba(255, 166, 0, 0.24);
    transform-origin: 50% 90%;
        animation: flicker 1s ease-in-out 5s infinite ;
}



   /* confetti */



.confetti-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
  z-index: 3;
}
@keyframes confetti-fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.8;
  }
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background: var(--confetti-color, red);
  opacity: 0.9;
  animation: confetti-fall var(--fall-duration, 1s) linear infinite;
}


.confetti-piece:nth-child(1) {
  left: 10%;
  --confetti-color: #ff6347;
  --fall-duration: 3s;
}
.confetti-piece:nth-child(2) {
  left: 25%;
  --confetti-color: #ffa500;
  --fall-duration: 5s;
}
.confetti-piece:nth-child(3) {
  left: 40%;
  --confetti-color: #32cd32;
  --fall-duration: 4.5s;
}
.confetti-piece:nth-child(4) {
  left: 60%;
  --confetti-color: #1e90ff;
  --fall-duration: 3.5s;
}
.confetti-piece:nth-child(5) {
  left: 80%;
  --confetti-color: #ff69b4;
  --fall-duration: 6s;
}

